.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2f4eff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backround 0.3s ease-in-out
}

.openButton:hover {
    background-color: #033491;
}